*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;


  
}

body {
    background-color:#F7F7F7 ;
    font-family: Arial, sans-serif;
    height: 100hv;
    
    
    z-index: 1;

  }
  
  nav{
    display: flex;
    /* gap: 50px;   responsavel pelo espacamento  dos elementos no display */
    background-color: white;
    justify-content: space-around;
    /* margin-top: 20px; */
    align-items: center;

    /* faixa separando a navegação do conteúdo */ 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra  */
    top: 0;
    left: 0; 
    width: 100%;
    padding-right: 128px;
    padding-left: 128px; 


    
    position: fixed; /*fixar no topo*/
    align-items: center;
    z-index: 1000; /*navbar fixada na frente*/
    
    
  }

  .logo img{
    max-width: 70%;
    

  }


  #search{
    background-color:  #e7e6e6f6;

    height: 45px;   /*altura */
    width: 799px; /*largura */
    border: none;
    /* bottom: 5px; */
    position: relative;

    padding: 0 2.4rem ;

  }

  nav #search, #sidebar, #user{
    margin: 0px 20px;
    border-radius: 15px;
    color: rgb(0, 0, 0, 40%) ;


  }
 
  #sidebar {
    background-color: #e7e6e6f6;
    transition: margin-right .5s;
    display: flex;
    position: relative;
    cursor:pointer;
      
  } 

  #sidebar img{
    max-width: 35%;
  }


  

  #sidebar span{
    display: flex;
    font-size:15px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 0.1rem ;
    
    
 
  }

  #sidebar:hover{
    background-color: #d8d8d8f6;
    transition: 0.2s;
  }
  #user{

  }



  .sidenav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f1efef;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: center;
  }

  .sidenav h3{
    margin-bottom: 10px;
    color: #EB5126;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  

  
    .filter{
    width: 250px;
    padding: 20px;

    border-right: 1px solid #ccc; 
    margin-bottom: 20px;
  }
  
  .filter label {
    display: block;
    margin-bottom: 5px;
    
  }
  
  .filter select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 10px;
  }
  
   #apply-filters {
    /* margin-left: 20px; */
    padding: 10px 15px;
    background-color: #EB5126;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;      
  }
  
  #apply-filters:hover {
    background-color: #d64a24;
    transition: 0.2s;

    
  }
  
  .course-list {
  
  
  }
  

/* carrossel inicial */


 .swiper {
  width: 100%;
}

.swiper-wrapper{
  text-align: center;
  display: flex;
  align-items: center;
}

.swiper-slide img{
  display: block;
  align-items: center;
  width: 100%;
  max-height:60vh ;
  /* height: 100%; */
  object-fit: cover;
}

.swiper-pagination{
  color: #818181;

}

.swiper-button-prev{
  
    /* background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23818181'%2F%3E%3C%2Fsvg%3E"); */
  }

    
.swiper-button-next{

}

/* carrossel de cursos */
.programation{
  position: relative;
  
  
}
.swiper-courses {
  width: 100%;
  height: 100%;
}

.swiper-slide-courses {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide-courses img {
  display: block;
  width: 10%;
  height: 10%;
  
}